:root {
  --color-principal: #008fd5;
  --darker-blue: #003449;
  --verde: #7eb93c;
  --side-margin: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* MAIN STYLES*/
body {
  font-family: Carlito, sans-serif;
}

h1,
h2,
h3 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
}

h2,
h3 {
  color: var(--color-principal);
}

h1 {
  text-transform: uppercase;
  font-size: 7em;
  margin-bottom: 12px;
  filter: drop-shadow(3px 3px 5px #000000);
  text-align: center;
}

h2 {
  font-size: 2.4em;
  margin-top: 60px;
  margin-bottom: 16px;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 16px;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -100;
}

.content {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*-- COVER --*/
.cover {
  width: 100%;
  height: 100vh;
  padding: 0 var(--side-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.logos {
  display: flex;
  flex-direction: row;
  gap: 16px;
  position: absolute;
  top: 60px;
}
.logos img {
  width: 200px;
}
.cover > p {
  font-size: 1.4em;
  filter: drop-shadow(1px 1px 5px #000000);
  text-align: center;
}
#downward-arrow {
  position: absolute;
  bottom: 40px;
}
/* Change language */
.language-button {
  height: 32px;
  width: 130px;
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
#current-language {
  align-items: center;
  gap: 10px;
  z-index: 200;
  border-radius: 16px;
}
#current-language:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#other-language {
  text-align: center;
  line-height: 32px;
  opacity: 0;
  border-top: 0;
  border-radius: 0 0 16px 16px;
  align-items: flex-end;
  transition-duration: 300ms;
}
#other-language a {
  color: white;
  text-decoration: none;
}
#other-language div {
  width: 130px;
  height: 32px;
  border-radius: 16px;
}
#other-language div:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#current-language img {
  width: 20px;
}
#current-language span {
  font-size: 16px;
}
#change-language-arrow {
  width: 16px;
}
#change-language-arrow.active {
  transform: rotate(180deg);
}
#other-language.active {
  opacity: 100;
  height: 48px;
  transform: translateY(16px);
}
/*-- MORE INFO --*/
.more-info {
  padding: 60px var(--side-margin) 120px var(--side-margin);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  background-image: url(../img/ilustracion_cuchara_2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 105%;
  background-position-y: bottom;
}

/* Contact Us*/
.contact-us,
.find-us {
  width: 100%;
}
.contact-us {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.social {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.social img {
  width: 36px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
}
form * {
  margin-bottom: 8px;
}
input,
textarea {
  border: none;
  border-radius: 4px;
  margin-bottom: 32px;
  font-size: 1.2em;
  padding: 12px;
  width: 100%;
  border: 1px solid black;
  font-family: Carlitos, sans-serif;
}

label {
  font-size: 1.3em;
  width: 100%;
  margin-bottom: 12px;
}

input[type="submit"] {
  border-radius: 4px;
  width: max-content;
  padding: 8px 32px;
  background-color: var(--color-principal);
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  transition: 200ms;
  border: none;
}
input[type="submit"]:hover {
  background-color: var(--darker-blue);
}

/* Find Us */
iframe {
  margin-bottom: 16px;
}
#link-maps {
  color: var(--color-principal);
}

/* Illustration*/
.yellow {
  width: 100%;
  height: 100px;
  background-color: #fff5e9;
}

/*Footer*/
footer {
  background-color: rgba(0, 143, 213, 0.7);
  padding: var(--side-margin);
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  gap: 60px;
}
footer p {
  font-size: 1.2em;
  margin-bottom: 8px;
}
footer img {
  width: 350px;
}

/*-- RESPONSIVE --*/
/* Pre-tablet (width:900px) */
@media (max-width: 1120px) {
  .cover span {
    display: none;
  }
  footer img {
    width: 300px;
  }
}
/* Tablet (width:900px) */
@media (max-width: 900px) {
  :root {
    --side-margin: 40px;
  }
  .cover {
    padding: var(--side-margin);
    height: 90vh;
  }
  .language-button {
    top: 24px;
    right: 24px;
  }
  #current-language:hover,
  #other-language div:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  .logos {
    gap: 16px;
    top: 60px;
  }
  .logos img {
    width: 150px;
  }
  h1 {
    font-size: 5em;
  }
  h2 {
    text-align: center;
    width: 100%;
  }
  h3 {
    font-size: 2.4em;
  }
  .logos {
    top: 100px;
  }
  .more-info {
    padding: 40px var(--side-margin) 80px var(--side-margin);
  }
  .contact-us {
    flex-direction: column;
    gap: 60px;
  }
  form {
    width: 100%;
  }
  input[type="submit"] {
    margin: 0 auto;
  }
  .follow-us {
    width: 100%;
    text-align: center;
  }
  .social {
    justify-content: center;
  }
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  footer img {
    width: 250px;
  }
}
/* Mobile (width:600px) */
@media (max-width: 600px) {
  :root {
    --side-margin: 16px;
  }
  .logos {
    position: static;
    margin-bottom: 24px;
  }
  .logos img {
    width: 110px;
  }
  h1 {
    font-size: 3.5em;
    margin-bottom: 8px;
  }
  h2,
  h3 {
    font-size: 1.7em;
  }
  .cover > p {
    font-size: 1.1em;
  }
  #downward-arrow {
    bottom: 24px;
    width: 24px;
  }
  .language-button {
    top: 16px;
    right: 16px;
  }
  .more-info {
    padding: 16px var(--side-margin) 60px var(--side-margin);
  }
  input,
  textarea {
    margin-bottom: 24px;
    font-size: 1em;
    padding: 8px;
  }
  input[type="submit"] {
    font-size: 1.2em;
  }
  input[type="submit"]:hover {
    background-color: var(--color-principal);
  }
  label {
    font-size: 1.1em;
    width: 100%;
    margin-bottom: 8px;
  }
  .yellow {
    height: 80px;
  }
  footer {
    gap: 24px;
    padding: 32px var(--side-margin);
  }
  footer p {
    font-size: 1em;
  }
  footer img {
    font-size: 1em;
    width: 180px;
  }
}
